body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 2px solid;
}
.huge{
    height: 200px;
    width: 200px;
    border: 5px solid;
    font-size: 3rem;
}